@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Indie- Flower', cursive;
}

.App {
    max-width: 100%;
    margin: 0 auto;
}

.Container {
    margin-top: 8.5%;
    padding: 0.5%;
    /* border: 1px solid purple; */
    margin-bottom: 0.1%;
}



footer .Link_listItem:nth-child(1) {
  margin-left: 1%;
}



footer .Link_listItem:not(:last-child) {
  padding: 2%;
  margin-top: 1.5%;
  border-bottom: 2px solid #234465;
}



footer .Link_listItem:hover {
  border-bottom: none;
  border-top: 2px solid #234465;
  font-weight: bold;
}

aside .Link_listItem {
  display: block;
  width: 98%;
  border-left: 2px solid #234465;
  border-right: 2px solid #234465;
  margin-bottom: 11%;
  height: 5vh;
  text-align: center;
}

aside .Link_listItem a {
  color: #234465;
  text-align: center;
  text-decoration: none;
  padding-top: 5%;
  height: 60%;
  display: block;
}

aside .Link_listItem:hover {
  border-left: none;
  border-right: none;
  font-weight: bold;
  border-top: 2px solid #234465;
  border-bottom: 2px solid #234465;
  color: #ffa000;
}

/* Link Styles */